.d3-chart svg {
    font: 10px sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.d3-chart line, .d3-chart path {
    fill: none;
    stroke: #000
}
.d3-chart text {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}


.d3chart-grid-line {
    stroke:gainsboro;
}

.d3chart-chart-line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}

.d3chart-point-circle {
    fill: steelblue;
    cursor: pointer;
}
.d3chart-point-circle-hidden {
    opacity:0;
}

.d3chart-tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 4px;
    font: 10px sans-serif;
    color: #fff;
    background: #333;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    visibility: hidden;
}